<div class="sidebar">
    <div class="link">
        <a href="/">Homepage</a>
    </div>
    <div class="link">
        <a href="/notes">All notes</a>
    </div>
    <div class="link">
        <a href="/add-note">+ Add note</a>
    </div>
</div>